{% extends 'base.html.twig' %}

{% block title %}Comment new{% endblock %}

{% block stylesheets %}
    <style>
        body {
            max-width: 60%;
            margin: auto;
            margin-top: 60px;
        }

        .table {
            margin-top: 20px;
        }

        .control-group {
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            <strong>Error !</strong>
            {{ error }}
        </div>
    {% endif %}
    {{ form_start(form) }}
    <div class="control-group">
        {{ form_label(form.depot) }}
        <div class="controls">
            {{ form_widget(form.depot, {'value':form.depot.vars.data}) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label(form.content) }}
        <div class="controls">
            {{ form_widget(form.content) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label(form.submit) }}
        <div class="controls">
            {{ form_widget(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
    {% if comments %}
        <table class="table">
            <thead>
            <tr>
                <th>Written by</th>
                <th>GitHub Username</th>
                <th>GitHub Repository</th>
                <th>Content</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.user.username }}</td>
                    <td>{{ comment.gitHubUsername }}</td>
                    <td>{{ comment.gitHubRepository }}</td>
                    <td>{{ comment.content }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">
                        <div class="alert alert-info">
                            <strong>No comments found</strong>
                            {{ error }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
